#promoCarousel
	min-width 1170px
	
	.carousel-caption
		padding-top 0
		padding-bottom 70px
		text-align left
		font-size 21px
		font-weight 200

		p
			margin-bottom 15px

		ul
			margin-bottom 30px
			
		.btn-success
			background-image -webkit-linear-gradient(top,#5cb85c 0,#419641 100%)
			background-image -o-linear-gradient(top,#5cb85c 0,#419641 100%)
			background-image -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641))
			background-image linear-gradient(to bottom,#5cb85c 0,#419641 100%)