template(name='liveInternet')
	a(href='//www.liveinternet.ru/click' target='_blank')
		img(src='//counter.yadro.ru/hit?t16.6;r{{getLiveCounter}}' alt='LiveInternet' title='LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня' width='88' height='31' style='border: solid 1px white')