template(name='donate')
	.container
		.row
			.col-sm-12
				.page-header
					h1 Помощь проекту
				br
		.row
			.col-sm-2
				.text-center
					i.glyphicon.glyphicon-usd.text-info(style='font-size: 10em; margin-top: 20px;')
			.col-sm-10
				p.lead Оказывая помощь сайту вы наверняка хотите знать куда будут расходоваться ваши деньги.
				p В первую очередь деньги пойдут на оплату хостинга, ведь на хостинге держится целиком весь сайт и очень важно вовремя заплатить за него что бы сайт продолжал жить.
				p Второй приоритетной целью является разработка дополнений для сайта и совершенствования уже существующих разделов. 
				p А те, кто будет помогать финансово на постоянной основе, не только станет элитой сайта с будующими привилегиями, но так же получит +10 к карме и билет в рай без очереди.
				hr
				.row
					.col-sm-4
						img.img-responsive(src='/img/wmlogo_256.png' alt='WebMoney' style='width: 50px; display: inline')
						span.lead(style='vertical-align: middle;')  R244837246680
					.col-sm-4
						img.img-responsive(src='/img/wmlogo_256.png' alt='WebMoney' style='width: 50px; display: inline')
						span.lead(style='vertical-align: middle;')  Z820887404735
					.col-sm-4
						img.img-responsive(src='/img/wmlogo_256.png' alt='WebMoney' style='width: 50px; display: inline')
						span.lead(style='vertical-align: middle;')  U197742217842