template(name='contacts')
	.container
		.row
			.col-sm-12
				.page-header
					h1 Контакты
		.row
			.col-sm-offset-2.col-sm-8.well
				.col-sm-6
					h3.text-center Связь
					br
					address
						ul
							li support@dota2comeback.com
							li
								a(href='https://vk.com/dota2comeback_official' target='_blank') Группа в ВК
							li
								a(href='http://steamcommunity.com/groups/dota2comeback_official' target='_blank') Группа в Steam
				.col-sm-6
					h3.text-center Отзывы
					br
					p О всех найденных багах, а так же идеи и предложениях писать на нашей странице на Reformal.ru
					br
					.text-center
						a.btn.btn-default(href='http://dota2comeback.reformal.ru/' target='_blank') dota2comeback.reformal.ru