template(name='help')
	.container
		.row
			.col-sm-12
				.page-header
					h1 FAQ
		.row
			.col-sm-9
				section#pay
					#payMoneyIn
						p.lead Пополнение счета
						ul
							li Производится удобным для вас способом из имеющихся на сайте.
							li Действующей валютой на сайте являются рубли
							li При пополнении счета через сервис Robokassa с вас взымается небольшая комиссия в размере 3% от суммы пополнения, поэтому настоятельно рекомендуем пополнять счет при помощи WebMoney из за отсутствия комиссии.
					#payMoneyOut
						p.lead Вывод денег
						ul
							li Вывод осуществляется в течении 10 суток после подачи заявки.
							li Минимальная сумма вывода на WebMoney - 50р, QIWI - 200р.
							li В месяц можно подавать не больше двух заявок на вывод.
				section#matches
					h3 Система матчей
					ul
						li Матчи играются только на деньги.
						li Минимальная сумма ставки - {{config "minMoney"}} руб.
						li Обращайте внимание на параметры матча (режимы и моды). Их можно увидеть как в списке с матчами в колонке "параметры", так и на странице самого матча.
						li Деньги списываются с вашего счета при создании матча (до начала игры) и возвращаются в случае его отмены.
						li Сервер запускается после того как все игроки займут слоты и подтвердят участие нажав "готов".
						li Подключение к серверу происходит автоматически после нажатия кнопки "Подключиться".
						li Время ожидания игроков - 3 минуты. Если за это время кто то не успеет загрузиться, матч отменяется.
						li За лив в игре 1х1 вам засчитают поражение. В игре 5х5 за лив вам засчитают поражение, однако если ваша команда сумеет выиграть ваша ставка распределится на оставшихся четырёх игроков. Ливер в игре 5х5 получает "лив" который будет виден всем в его профиле.
						li По окончании матча выигрыш зачисляется с вычетом комиссии сайта (подробнее на странице "<a href='/about'>О проекте</a>").
				section#help
					h3 Помощь
					ul
						li В случае возникновения не понятных ошибок или багов во время матча следует написать "Тикет" в котором подробно описать проблему и указать номер матча который можно посмотреть непосредственно на странице с матчем. Если проблема окажется со стороны сайта то мы постараемся её решить.
						li.
							Задержки, фризы, вылет из доты являются проблемами клиента, а не нашего сайта, поэтому в данных случаях писать тикеты не стоит.
							Если вы не можете подключится к чьему либо матчу убедитесь что баланса на вашем счету достаточно и что в стиме и на сайте вы авторизированы под одним и тем же аккаунтом.
						li В других непонятных ситуациях вы можете спросить совета у других пользователей сайта которые общаются в чате.

			.col-sm-3.bs-docs-sidebar
				ul#sidebar.nav.sidenav.affix(data-spy='affix')
					li
						a.anchor(href='#pay') Денежные операции
						ul.nav.nav-stacked
							li
								a.anchor(href='#payMoneyIn') Пополнение счета
							li
								a.anchor(href='#payMoneyOut') Вывод денег
					li
						a.anchor(href='#matches') Матчи
					li
						a.anchor(href='#help') Помощь