template(name='about')
	.container
		.row
			.col-sm-12
				.page-header
					h1 О проекте
		.row
			.col-sm-12
				p.lead Проект <b>Dota2comeback.com</b> предназначен для игры в <b>Dota 2</b> на деньги. Данный сайт по сути является гарантом того, что после игры на деньги, в случае победы вы получите свой выигрыш.

				p Зачисление призовых в случае победы производится системой автоматически, поэтому вы можете быть уверены в том, что получите свои деньги. Победитель получает те деньги которые он ставил +деньги противника с вычетом комиссии сайта. К примеру если вы поставили 10р то в случае выигрыша вы получите 19.20р.

				h4 Комиссия
				p Комиссия за услуги уменьшается от {{config "percent10r"}}% до {{config "percent300r"}}% в зависимости на какую сумму вы играете.
				ul
					li 10-25р - {{config "percent10r"}}%
					li 25-100р - {{config "percent25r"}}%
					li 100-300р - {{config "percent100r"}}%
					li 300р+ - {{config "percent300r"}}%

				h4 Режимы игры
				p Есть возможность играть в следующих режимах:
				ul
					li 1x1
					li 2x2
					li 3x3
					li 5x5

				h4 Моды
				ul
					li All Random
					li Single Draft
					li Mid Only
					li Captains Mode

				p Стоит учитывать что на некоторых режимах не доступны некоторые моды. Так к примеру в игре 1x1 нельзя играть Captains Mode. Сумма ставки не ограничена, есть только ограничение на минимальную ставку - не меньше {{config "minMoney"}} руб.

				p Возможность выставлять другие параметры игры типа:
				ul
					li Включать/отключать появление рун
					li Лесных крипов
					li В играх 2x2 и 3x3 выставлять на каких лайнах будут появляться крипы.
					li Выставлять условия победы (кол-во смертей или уничтоженных вышек)