template(name='adminMenu')
	ul.nav.nav-pills.nav-stacked
		li(class='{{isActivePath regex="admin/stats"}}')
			a(href='{{pathFor "admin"}}') Статистика
		li(class='{{isActivePath regex="admin/settings"}}')
			a(href='{{pathFor "admin/settings"}}') Настройки
		li(class='{{isActivePath regex="admin/news"}}')
			a(href='{{pathFor "admin/news"}}') Новости
		li(class='{{isActivePath regex="admin/users"}}')
			a(href='{{pathFor "admin/users"}}')
				span.badge.pull-right {{config "usersCount"}}
				| Пользователи
		li(class='{{isActivePath regex="admin/events"}}')
			a(href='{{pathFor "admin/events"}}') Журнал событий
		li(class='{{isActivePath regex="admin/tickets"}}')
			a(href='{{pathFor "admin/tickets"}}')
				if config 'ticketsOpenCount'
					span.badge.pull-right {{config "ticketsOpenCount"}}
				| Тикеты
		li(class='{{isActivePath regex="admin/moneyOut"}}')
			a(href='{{pathFor "admin/moneyOut"}}')
				if config 'payOutsCount'
					span.badge.pull-right {{config 'payOutsCount'}}
				| Заявки на вывод