template(name='adminNews')
	if isInRole 'admin'
		.container
			.row
				.col-sm-12
					.page-header
						h2 Управление
							span.text-muted - новости
			.row
				.col-sm-9
					.form-horizontal.well
						fieldset
							p.lead Добавить новость
							.form-group
								label.col-sm-3.control-label(for='inputTitle') Заголовок
								.col-sm-9
									input#inputTitle.form-control(placeholder='Заголовок новости')
							.form-group
								label.col-sm-3.control-label(for='inputImage') URL изображения
								.col-sm-9
									input#inputImage.form-control(placeholder='Маленькая картинка рядом с описанием')
							.form-group
								label.col-sm-3.control-label(for='inputDescription') Короткое описание
								.col-sm-9
									textarea#inputDescription.form-control(placeholder='Короткое описание новости' rows='6')
							.form-group
								label.col-sm-3.control-label(for='inputText') Полное описание
								.col-sm-9
									textarea#inputText.form-control(placeholder='Полное описание новости' rows='6')
							.form-group
								.col-sm-offset-3.col-sm-9
									input#setOneComment(type='checkbox')
									label(for='setOneComment') Один комментарий на человека
							.form-group
								.col-sm-offset-3.col-sm-9
									button.btn-add-novelty.btn.btn-primary.btn-block Опубликовать
				.col-sm-3
					+adminMenu
	else
		+forbidden