template(name='adminTickets')
	if isInRole 'admin'
		.container
			.row
				.col-sm-12
					.page-header
						h2 Управление
							span.text-muted - тикеты
			.row
				.col-sm-9
					ul#settingsTabs.nav.nav-tabs
						li.active
							a(href='#tab-open-tickets' data-toggle='tab') Открытые
						li
							a(href='#tab-closed-tickets' data-toggle='tab') Закрытые
					.tab-content
						#tab-open-tickets.tab-pane.fade.active.in
							if ticketsOpen.count
								table.table.table-bordered.table-hover.table-responsive.table-striped
									thead
										tr
											th.text-center ID
											th.text-center Пользователь
											th.text-center Описание
											th.text-center Срочность
											th.text-center Дата
									tbody
										each ticketsOpen
											tr(style='cursor: pointer' onclick='Router.go("/admin/tickets/{{_id}}")')
												td.text-center=_id
												td
													with getUser userId
														a(href='/user/{{id}}')
															img(height='32px' src='{{services.steam.avatar.small}}' style='border-radius: 50%')
															|  {{profile.name}}
												td.text-center=title
												td.text-center
													if $eq urgency '1' 
														.label.label-success Низкая
													else if $eq urgency '2'
														.label.label-warning Средняя
													else if $eq urgency '3'
														.label.label-danger Высокая
												td.text-center {{getTime date}}

							else
								center
									br
									br
									br
									br
									p.lead.text-muted Тикетов пока нет
						#tab-closed-tickets.tab-pane.fade
							if ticketsClosed.count
								table.table.table-bordered.table-hover.table-responsive.table-striped
									thead
										tr
											th.text-center ID
											th.text-center Пользователь
											th.text-center Описание
											th.text-center Срочность
											th.text-center Дата
									tbody
										each ticketsClosed
											tr(style='cursor: pointer' onclick='Router.go("/admin/tickets/{{_id}}")')
												td.text-center=_id
												td
													with getUser userId
														a(href='/user/{{id}}')
															img(height='32px' src='{{services.steam.avatar.small}}' style='border-radius: 50%')
															|  {{profile.name}}
												td.text-center=title
												td.text-center
													if $eq urgency '1' 
														.label.label-success Низкая
													else if $eq urgency '2'
														.label.label-warning Средняя
													else if $eq urgency '3'
														.label.label-danger Высокая
												td.text-center {{getTime date}}
							else
								center
									br
									br
									br
									br
									p.lead.text-muted Тикетов пока нет
				.col-sm-3
					+adminMenu
	else
		+forbidden