#chat
	height 400px
	word-wrap break-word
	font-size 13px
	overflow-y scroll

	p
		padding 10px
		margin 0

	p:nth-of-type(2n)
		background #353a41
		
#tab-online
	height 459px
	overflow-y scroll

.chat-online
	text-decoration none
	border-bottom 1px dashed
	
.chat-online:hover
	text-decoration none

.chat-online:focus
	text-decoration none
	
.chat-link:hover
	text-decoration none
	border-bottom 1px solid

.chat-link:focus
	text-decoration none
	border-bottom 1px solid
	
.user-avatar
	display inline
	height 19px
	border-radius 50%