html, body
	height 100%
	padding-top 25px

#wrap
	min-height 100%
	height auto
	margin 0 auto -60px
	padding 0 0 60px

footer
	height 60px

footer
	line-height 60px

#wrap > .container 
	padding 60px 15px 0

footer > .container 
	padding-left 15px
	padding-right 15px