head
	title Игры на деньги в Dota 2 (Dota2Comeback.com)

	meta(charset='UTF-8')
	meta(name='description' content='Автоматизированный сервис для игры в Dota 2 на деньги')
	meta(name='author' content='Maxpain')
	meta(name='keywords' content='dota2comeback, d2c, игры на деньги в Dota 2, игры на деньги в доту, Dota 2, матчмейкинг, киберспорт, турниры')
	meta(name='robots' content='all')
	meta(name='generator' content='Meteor.js')

	meta(property='vk:title' content='Игры на деньги в Dota 2 (Dota2Comeback.com)')
	meta(property='vk:description' content='Автоматизированный сервис для игры в Dota2 на деньги')
	meta(property='vk:text' content='Автоматизированный сервис для игры в Dota2 на деньги')
	meta(property='vk:url' content='http://dota2comeback.com/')
	meta(property='vk:image' content='http://dota2comeback.com/img/logo.png')

	meta(property='og:type' content='website')
	meta(property='og:title' content='Игры на деньги в Dota 2 (Dota2Comeback.com)')
	meta(property='og:description' content='Автоматизированный сервис для игры в Dota2 на деньги')
	meta(property='og:site_name' content='Dota2Comeback')
	meta(property='og:url' content='http://dota2comeback.com/')
	meta(property='og:image' content='http://dota2comeback.com/img/logo.png')

	link(rel='shortcut icon' href='/favicon.ico')

	script(src='//cdn.ckeditor.com/4.4.3/standard/ckeditor.js')

template(name='layout')
	#wrap
		+nav
		+yield
		+matchCreateModal
	+footer