template(name='gamesStarted')
	unless currentUser
		+promo
	.container
		.row
			.col-xs-8
				ul.nav.nav-tabs
					li
						a(href='{{pathFor "index"}}') В поиске
					li.active
						a(href='{{pathFor "gamesStarted"}}') В игре
					li
						a(href='{{pathFor "gamesFinished"}}') Завершенные
					if currentUser
						li.pull-right
							if currentUser.currentMatch
								a.btn.btn-info(href='/match/{{currentUser.currentMatch._id}}') Мой матч
							else
								a.btn.btn-default(href='#' data-toggle='modal' data-target='#matchCreateModal' style='font-weight: bold') Создать матч

				if matchesInGame.count
					table.table.table-striped.table-bordered.table-hover
						thead
							tr
								th.text-center Ставка
								th.text-center Тип
								th.text-center Параметры
								th.text-center Мод
								th.text-center Статус
								th.text-center Начат
						tbody
							each matchesInGame
								tr(style='cursor: pointer' onclick='Router.go("/match/{{_id}}")')
									td.text-center
										| {{money}} руб.
									td.text-center=type
									if hasParams
										td.text-center
											if heroID
												a.label.label-success(href='#' data-toggle='tooltip' data-placement='top' title='{{hero.name}} пикнется автоматически')=hero.name
											if towers
												a.label.label-danger(href='#' data-toggle='tooltip' data-placement='top' title='Количество вышек для победы') {{towers}}T
											if kills
												a.label.label-danger(href='#' data-toggle='tooltip' data-placement='top' title='Количество убийств для победы') {{kills}}K
											if withoutRunes
												a.label.label-primary(href='#' data-toggle='tooltip' data-placement='top' title='Без рун')
													s R
											if withoutNeutrals
												a.label.label-primary(href='#' data-toggle='tooltip' data-placement='top' title='Без нейтралов')
													s N
											if hasPassword
												a.label.label-warning(href='#' data-toggle='tooltip' data-placement='top' title='Игра с паролем')
													i.fa.fa-lock
											if tv_enable
												a.label.label-info(href='#' data-toggle='tooltip' data-placement='top' title='TV-трансляция')
													i.fa.fa-video-camera
									else
										td.text-center -
										td.text-center=getTextMode
										td.text-center=getTextGameStatus
										td.text-center {{getTime dateStarted}}
				else
					br
					br
					br
					br
					br
					br
					h1.text-muted.text-center Нет live матчей
					br
					br
					br
					br
					br
					br
			.col-xs-4
				+chat
				+newUser